<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body onload="loader_page()">

        <%- include('../partials/loader'); %>

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main id="animation-zoom-out" class="pt-5 pl-5">
            <div class="row">
                <div class="col-4 pl-5">
                    <h1 class="text-white pb-3">Food</h1>
                    <h3 class="text-master">All Classes Categories</h3>
            
                        <div class="pb-4">
                            <ul class="list-group">
                            
                                <li class="list-group-item list-group-item-danger text-center animated pulse joom-out font-weight-bold w-50">categories</li>
                                <li class="list-group-item list-group-item-danger text-center animated pulse joom-out font-weight-bold w-50">categories</li>
                                <li class="list-group-item list-group-item-danger text-center animated pulse joom-out font-weight-bold w-50">categories</li>
                                <li class="list-group-item list-group-item-danger text-center animated pulse joom-out font-weight-bold w-50">categories</li>
                                

                    
                            </ul>
                        </div>
  
                </div>
                <div class="col-8">
                    <div class="row mx-auto">
                        <div class="col-6 my-5">
                            <div class="card bg-dark text-white">
                                <img src="https://www.masterclass.com/course-images/attachments/MxnYcBNgaWeuoLFsNPqPQnkE?width=300&height=533&fit=cover&dpr=2" alt="">
                                <div class="card-img-overlay">
                                    <div class="description">
                                        <h5 class="card-title text-center">Gordon Ramsey</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 my-5">
                            <div class="card bg-dark text-white">
                                <img src="https://www.masterclass.com/course-images/attachments/MxnYcBNgaWeuoLFsNPqPQnkE?width=300&height=533&fit=cover&dpr=2" alt="">
                                <div class="card-img-overlay">
                                    <div class="description">
                                        <h5 class="card-title text-center">Gordon Ramsey</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 my-5">
                            <div class="card bg-dark text-white">
                                <img src="https://www.masterclass.com/course-images/attachments/MxnYcBNgaWeuoLFsNPqPQnkE?width=300&height=533&fit=cover&dpr=2" alt="">
                                <div class="card-img-overlay">
                                    <div class="description">
                                        <h5 class="card-title text-center">Gordon Ramsey</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 my-5">
                            <div class="card bg-dark text-white">
                                <img src="https://www.masterclass.com/course-images/attachments/MxnYcBNgaWeuoLFsNPqPQnkE?width=300&height=533&fit=cover&dpr=2" alt="">
                                <div class="card-img-overlay">
                                    <div class="description">
                                        <h5 class="card-title text-center">Gordon Ramsey</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <%- include('../partials/loginform'); %>
  
        

    </body>
    <script for="javascript" src="./js/global.js"></script>
</html>